.dog { 
  float: left;
  /* border: solid 5px gray; */
  width: 30%;
  background-color: aqua;
  margin-right: 5px;
  border-radius: 30px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

 img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border:  gray 5px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
} 

.cat {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  /* border: solid 5px gray; */
  width: 30%;
  background-color: rebeccapurple;
  margin-right: 5px;
  border-radius: 30px;
}

.bunny {
  margin-left: 5px;
  float: left;
  /* border: solid 5px gray; */
  width: 30%;
  background-color: red;
  margin-right: 5px;
  border-radius: 30px;
}

.parrot {
margin-left: 5px;
  float: left;
  /* border: solid 5px gray; */
  width: 30%;
  background-color: brown;
  /* margin-right: 5px; */
  border-radius: 20px;
  
}

.turtle {
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  /* border: solid 5px gray; */
  width: 30%;
  background-color: goldenrod;
  margin-right: 5px;
  border-radius: 30px;
}