body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: darkslategrey;
  border: 2px inherit solid;
  background-color: white;
}

hr {
  margin-left: 10px;
  margin-right:120px;
}

.img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
} 

.box {
  text-align: center;
  margin: auto;
  border: 2px solid darkslategrey;
  background-color: darkslategrey;
  display: block;
  box-sizing: border-box;
  width: 50%;
}

.box1 {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.slide {
  width: 300px
  margin-left: auto;
  margin-right: auto;
  display: inline;
  /* border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; */
}